* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a {
  text-decoration: none;
}
/* All */
header {
  background-color: rgb(85, 85, 85);
  height: 74px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  display: flex;
}
.logo img {
  height: 62px;
  margin: 7px 0px 0px 0px;
}
.logo h4 {
  margin: 20px 0px 0px 0px;
  font-size: 1.5rem;
  text-shadow: 0px 0px 10px white;
}
.logo a {
  color: black;
  font-family: "Anton SC";
}
.nav_1 {
}
.nav_1 ul {
  display: flex;
}
.nav_1 li {
  margin: 0px 0px 0px 50px;
  text-decoration: none;
  list-style-type: none;
}
.nav_1 a {
  color: black;
  font-size: 1.4rem;
  font-weight: 900;
}
.nav_2 {
  display: none;
  text-align: center;
  height: 200px;
  background-color: rgb(85, 85, 85);
  position: fixed;
  width: 100%;
}
.nav_2_div li {
  margin: 30px 0px 0px 0px;
}
.nav_2 a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}
.nav_2 ul li {
}
.burgerBar {
  height: 49px;
  display: none;
}

/* header///////////////////////////////////// */
/* ///////////////////////////// */
.owner {
  height: 420px;
  background-color: rgb(100, 99, 99);
  width: 300px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  padding: 20px 0px 0px 0px;
}
.owner h3 {
  color: #ff0000;
}
.admin {
  height: 420px;
  width: 300px;
  background-color: rgb(100, 99, 99);
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  padding: 20px 0px 0px 0px;
}
.admin h3 {
  color: #00a8f0;
}
.admin .avatar {
  border: 2px solid #00000049;
  border-radius: 30px;
  box-shadow: 0px 0px 23px #00a8f0;
}
.admin .name_h1 {
  color: #00a8f0;
}
.BOT {
  height: 420px;
  width: 300px;
  background-color: rgb(100, 99, 99);
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  padding: 20px 0px 0px 0px;
}
.BOT h3 {
  color: #7c4c9c;
}
.BOT .avatar {
  border: 2px solid #00000049;
  border-radius: 30px;
  box-shadow: 0px 0px 26px #a216ff;
}
/* ///////////////////////////// */

.roles {
  margin: 30px 0px 0px 0px;
}
.avatar {
  border: 2px solid #00000049;
  border-radius: 30px;
  box-shadow: 0px 0px 23px #aef166;
}
.name_h1 {
  color: #aef166;
  font-weight: 900;
}
.status_h2 {
  margin: 10px 0px 0px 0px;
}
.status_h2_online {
  color: rgb(65, 255, 18);
}
.status_h2_idle {
  color: rgb(255, 238, 0);
}
.status_more {
  color: red;
}
.server_name_h3 {
  font-size: 1.6rem;
  color: rgb(179, 255, 0);
  margin: 0px 0px 50px 0px;
  cursor: pointer;
}
.server_name_h3 a {
  text-decoration: none;
  color: rgb(179, 255, 0);
}
.span_role {
  color: rgb(0, 0, 0);
}
/* -------------------------------- */
main {
  padding: 100px 0px 0px 0px;
}
#main_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.userDiv {
  height: 420px;
  background-color: rgb(100, 99, 99);
  width: 300px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  padding: 20px 0px 0px 0px;
}
.userDiv h3 {
  color: #aef166;
}
body {
  background-color: rgb(196, 196, 196);
}
main #setting {
  height: 40px;
  align-items: right;
}
.setting_div_1 {
  /* background-color: red; */
}
.setting_div_1 a {
}
.setting_div_1 li {
  text-decoration: none;
  list-style-type: none;
}
.setting_div_2 {
  display: flex;
  justify-content: right;
  margin: 0px 70px 0px 0px;
  cursor: pointer;
  padding: 0px 50px 0px 0px;
}

.setting_div_3 {
  text-align: right;
  /* background-color: rgb(238, 238, 238); */
  margin: 0px 140px 0px 0px;
  display: flex;
  justify-content: right;
  border-radius: 20px;

}
.setting_div_4 {
  background-color: rgba(136, 134, 134, 0.877);
  padding: 0px 0px 0px 0px;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  z-index: 1;
  position: absolute;
  text-align: left;
  padding: 20px 0px 0px 50px;
  display: none;

}
.button1{
  display: flex;
}

.setting_div_4_show{
  display: block;
}
.setting_div_4_none{
  display: none;
}
/* -------------------------------- */
@media screen and (max-width: 700px) {
  .nav_1 {
    display: none;
  }

  .burgerBar {
    display: block;
  }

  .nav_2_show {
    display: block;
  }
  .nav_2_none {
    display: none;
  }
  .setting_div_2 {
    margin: 0px 120px 0px 0px;
  }
}
@media screen and (max-width: 540px) {
  .setting_div_2 {
    margin: 0px 87px 0px 0px;
  }
}
@media screen and (max-width: 400px) {
  .setting_div_2 {
    margin: 0px 59px 0px 0px;
  }
}
